.header {
    background-image: url(../../assets/Header_Background.jpg);
    background-position: center;
    background-size:auto;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 95%;
    justify-content: space-around;
    align-items: center;
    border: 2px solid;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    opacity: 0.4;
    transition: opacity 0.4s ease-in-out;
}

.header:hover {
    opacity: 1;
}



