.container {
    display: flex;
}

.button {
    margin-top:24px;
    font-family: Formula1;
    font-size: 24px;
    width: fit-content;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.4s ease-in-out
}

.button:hover {
    background-color: orangered;
}