.container {
    background-image: url(../../assets/Wallpaper.jpg);
    background-position: center;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.containerHS {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    height: 80%;
    gap: 24px;
}


