.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.button {
    padding: 8px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid;
    background-color: #292c37;
    color: #cccccc;
    border-color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button:hover {
    background-color: #3e4253;
    cursor: pointer;
}

.active {
    background-color: red;
}